<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
    <li data-target="#demo" data-slide-to="4"></li>
    <li data-target="#demo" data-slide-to="5"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="img-fluid" src="../../../assets/adivina-el-numero.jpg" alt="adivina-el-numero">
      <div class="carousel-caption">  
        <input type="button" style=" color: blanchedalmond;" routerLink="ruta-juegos/ruta-adivina-el-numero" value="JUGAR A ADIVINA EL NUMERO!!!" class="btn btn-primary">
        
      </div>
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="../../../assets/agilidad-aritmetica.jpg" alt="agilidad-aritmetica">
      <div class="carousel-caption">   
        <input type="button" style=" color: blanchedalmond;" routerLink="ruta-juegos/ruta-agilidad-aritmetica" value="JUGAR AGILIDAD ARITMETICA" class="btn btn-primary">
      </div>
    </div>
    <div class="carousel-item">
      <img class="img-fluid"  src="../../../assets/anagrama.jpg" alt="anagrama" >
      <div class="carousel-caption">   
        <input type="button" style=" color: blanchedalmond;" routerLink="ruta-juegos/ruta-anagrama" value="JUGAR A ANAGRAMA" class="btn btn-primary">
      </div>
    </div>
    <div class="carousel-item">
      <img class="img-fluid"  src="../../../assets/piedra-papel-tijera.jpg" alt="piedra-papel-tijera" >
      <div class="carousel-caption">   
        <input type="button" style=" color: blanchedalmond;" routerLink="ruta-juegos/ruta-piedra-papel-tijera" value="JUGAR PIEDRA, PAPEL Y TIJERA" class="btn btn-primary">
      </div>
    </div>
    <div class="carousel-item">
      <img class="img-fluid"  src="../../../assets/tateti.jpg" alt="tateti" >
      <div class="carousel-caption">   
        <input type="button" style=" color: blanchedalmond;" routerLink="ruta-juegos/ruta-tateti" value="JUGAR A TATETI!!!" class="btn btn-primary">
      </div>
    </div>
    <div class="carousel-item">
      <img class="img-fluid"  src="../../../assets/mi-juego.jpg" alt="MI JUEGO" >
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <button type="button" class="btn btn-warning">Previo</button>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <button type="button" class="btn btn-warning">Proximo</button>
  </a>

</div>
  <br>  

  <img src="../../../assets/top-games.jpg" alt="top top-games" style="align-items: flex-start; width: 400px; height: 200px;">
  <hr style="color:blueviolet;">
  <div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="bd-placeholder-img rounded-circle" style="width: 140px; height:140px;"  src="../../../assets/tateti.jpg" alt="tateti" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" >
      
      <h3>TATETI</h3>
      <p>El clasico juego aqui para que lo disfrutes!!!!</p>
     <input type="button" class="btn btn-warning" routerLink="ruta-juegos/ruta-tateti" value="JUGAR A TATETI ">
      
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="bd-placeholder-img rounded-circle" style="width: 140px; height:140px;"  src="../../../assets/piedra-papel-tijera.jpg" alt="piedra-papel-tijera" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" >
      <h3>PIEDRA, PAPEL Y TIJERA</h3>
      <p>Un juego que nunca deja de divertirnos!!!!</p>
      <input type="button" class="btn btn-warning" routerLink="ruta-juegos/ruta-piedra-papel-tijera" value="JUGAR A PIEDRA,PAPEL Y TIJERA ">
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="bd-placeholder-img rounded-circle" style="width: 140px; height:140px;"  src="../../../assets/anagrama.jpg" alt="anagrama" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" >
      <h3>ANAGRAMAS</h3>
      <p>Divierte armando palabras!!!</p>
      <input type="button" class="btn btn-warning" routerLink="ruta-juegos/ruta-anagrama" value="JUGAR A ANAGRAMAS ">
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row --> 

</div><!-- /.container -->
<br><br><br>

<!-- FOOTER -->
<footer class="container">
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>&copy; 2020 Cailean Alejandro, Inc. </p>
</footer>