  <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist" style="background-image: url('https://image.freepik.com/foto-gratis/fondo-o-textura-madera-clara-pared-fondo-madera-patron-natural_256259-128.jpg');" >
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" routerLink=''  role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" routerLink='ruta-juegos' role="tab" aria-controls="pills-profile" aria-selected="false">Juegos</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="pills-contact-tab" data-toggle="pill" routerLink="ruta-resultados" role="tab" aria-controls="pills-contact" aria-selected="false">Resultados</a>
    </li>
    
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" routerLink="ruta-about" role="tab" aria-controls="pills-contact" aria-selected="false">About</a>
    </li>
  </ul>

 
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>

  <footer>

  </footer>

  